<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  	<div class="container">
    		<a class="navbar-brand" href="#">Team 225</a>
	        <ul class="nav navbar-nav">
	                <li><a href="/">Competition</a></li>
	                <li><a href="/vision">Vision</a></li>
	                <li><a href="/networktable">NetworkTable</a></li>
	        </ul>
  	</div>
    </nav>
    <br><br><br><br>
    <div class="container">
    	<table class="table">
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < exports.table.length; i++ ) 
			{
				thisEntry = exports.table[i];
			%>
			<tr>
				<td><%= thisEntry.key %></td>
				<td><%= thisEntry.value %></td>
			</tr>
			<% } %>
		</tbody>
	</table>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>

